.App {
  text-align: center;
  /* background: linear-gradient(rgba(250, 0, 0, 0.5), transparent); */
  /* background-color: rgb(205, 205, 219); this your primary color */
  /* color: rgb(33, 33, 65); */
  background-image: linear-gradient(
    to right,
    rgba(221, 203, 203, 0.8),
    rgb(122, 122, 212)
  );
  padding: 10px;
  color: dark;
}
